@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'KoHo', sans-serif;
  color: #000;
}

.navbar{
  @apply bg-blue-300 shadow-xl fixed w-full
}
.navbar-container{
 @apply mx-auto container
}
.navbar-wrapper{
  @apply sm:flex justify-around
}

.brand-name{
  @apply text-black text-4xl font-extrabold uppercase py-3 pl-3
}

.nav-toggle{
  @apply sm:hidden absolute top-0 right-0 inline-flex items-center justify-center p-2 rounded-md 
}

.navbar-nav{
  @apply hidden sm:self-center text-xl border-t sm:border-none sm:flex justify-around flex-col md:flex-row 
}
.nav{
  @apply p-4 uppercase font-bold hover:bg-blue-500 hover:text-white rounded-md 
}
.nav.active{
  @apply bg-blue-700
}
.mobileNav{
  @apply sm:hidden
}
.mobileNavContainer{
  @apply px-4  pt-2 pb-3 space-y-1 grid grid-cols-1  
}

.mobile-link{
  @apply font-bold text-2xl uppercase p-3 hover:bg-blue-500 hover:text-white block px-3 py-2 rounded-md text-base font-medium 
}
.mobile-link.active{
  @apply bg-blue-700
}